* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 
    En CSS se pueden usar variables para guardar valores que usaremos reiteradamente en nuestro proyecto.

    ¿Como se declara una variable?
    Se hace uso del selector :root{ }
        :root {
            --primary-color: #322f3d;
            --secondary-color: #8d93ab;
            --font-color: white;
            --font: 1.8rem;
            --titles: 3rem;
        }

    Se utilizan los 2 guines (--) seguido del nombre de la variable, seguido de 2 puntos ( : ) y el valor.

    ¿Como usar una variable?
    Se utiliza gracias a la función var() y dentro de esta se indica el nombre de la variable.

        color: var(--font-color);
        font-size: var(--titles);
*/

:root {
  --primary-color: #322f3d;
  --secondary-color: #8d93ab;
  --font-color: white;
  --font: 1.8rem;
  --titles: 3rem;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  height: 10rem;
  color: var(--font-color);
  font-size: var(--titles);
  text-align: center;
}

main {
  width: 100%;
  height: 80vh;
  background-color: var(--secondary-color);
}

main > p {
  font-size: var(--font);
}

footer {
  background-color: var(--primary-color);
  width: 100%;
  height: 5rem;
}

footer > p {
  font-size: var(--font);
  color: var(--font-color);
  text-align: center;
}
