* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Grandstander", sans-serif;
}

header {
  background-color: #322f3d;
  width: 100%;
  height: 4rem;
}

header > figure {
  display: inline-block;
  height: inherit;
  margin-left: 2rem;
}

header > figure > img {
  width: 9rem;
  margin: 0.25rem 0rem;
  line-height: 4rem;
}

nav {
  display: inline-block;
  height: inherit;
  position: absolute;
  right: 0;
}

nav > ol {
  list-style: none;
}

nav > ol > li {
  font-size: 1.6rem;
  display: inline-block;
  margin: 1.2rem 1rem;
  color: white;
}

nav > ol > li:last-child {
  margin-right: 3rem;
}

main {
  height: 542px;
  width: 100%;
  background-color: #59405c;
}

main > .cards {
  background-color: #ff4b5c;
  width: 20%;
  height: inherit;
  position: absolute;
}

.card {
  background-color: #eb8f8f;
  width: 80%;
  height: 20%;
  margin-top: 10px;
  margin: 2.2rem auto;
  border-radius: 1rem;
}

.paragraph {
  width: 80%;
  height: 542px;
  background-color: #8d93ab;
  position: absolute;
  right: 0;
  font-size: 3rem;
}

.paragraph p {
  text-align: justify;
  width: 80%;
  margin: 4rem auto;
}

footer {
  background-color: #222831;
  width: 100%;
  height: 5rem;
}

footer li {
  filter: invert(1);
  margin: 0.5rem 1rem;
}

footer > ol {
  display: inline-block;
  position: absolute;
  right: 0;
  height: inherit;
}

footer > ol > li {
  color: white;
  display: inline-block;
}

footer > ol > li:last-child {
  margin-right: 2rem;
}

.footer_icon {
  background-image: url("./images/logo-css3.svg");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

footer > ol > .facebook {
  background-image: url("./images/logo-facebook.svg");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

footer > ol > .twitter {
  background-image: url("./images/logo-twitter.svg");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

footer > ol > .youtube {
  background-image: url("./images/logo-youtube.svg");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}
