:root {
  --color-blue: #0791e6;
  --color-gray: #69707c;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f6f6;
}

header {
  /*   border: 1px solid red; */
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

header > figure {
  margin: 0.7rem auto;
}

header > nav {
  margin: 0 auto;
}

header > nav > ol > li {
  color: white;
  font-size: 2rem;
  display: inline-block;
  margin: 1rem 1rem;
}

/* ---------------------- Main -----------------------*/
main {
  /*  border: 1px solid blue; */
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  text-align: center;
}

.profile > img {
  border-radius: 50%;
  margin-top: 2rem;
}

.photo > p {
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-blue);
  text-decoration: underline;
}

.profile-description > h2,
.profile-description > p {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.profile-description > p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  padding: 0 1.8rem;
}

.social {
  margin-top: 2rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > figure {
  display: inline-block;
}

.social > p {
  font-size: 1.8rem;
  color: var(--color-blue);
  display: inline-block;
  margin-left: 0.7rem;
}

.points {
  width: 80%;
  height: 16rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.c1,
.c2 {
  /* border: 1px solid magenta; */
  width: 50%;
  height: calc(100% / 2);
  padding: 2rem 0rem 0rem;
}

.green {
  color: #90c719;
}

.c3 {
  /* border: 1px solid goldenrod; */
  width: 100%;
  height: calc(100% / 2);
  padding: 1rem 0rem 0rem;
}

.gray {
  color: var(--color-gray);
}

.bold {
  font-weight: 700;
}

.c1 > p,
.c2 > p,
.c3 > p {
  font-size: 2rem;
  text-align: center;
}

/* -------------- Footer ------------------- */

footer {
  position: fixed;
  bottom: 0px;
  background-color: #1b262c;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
footer > p {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}
