header {
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header > figure {
  margin-left: 2rem;
}

header > figure > img {
  width: 15rem;
}

header > nav > ol > li {
  font-size: 2.5rem;
  margin: 0rem 1rem;
}

header > nav {
  margin-right: 1rem;
}

.profile-description > h2 {
  font-size: 2.4rem;
}
.profile-description > p {
  font-size: 1.6rem;
}
